body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  margin: auto;
  text-align: center;
  border: 3px solid green;
  padding: 10px;
}

.page-container {
  margin: auto;
  text-align: center;
  border: 3px solid blue;
  padding: 10px;
}

.analyser-container {
  margin: auto;
  text-align: center;
  border: 3px solid lightgreen;
  padding: 10px;
}